<!-- 
<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header') %>
      <div class="outer">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar') %>
        <% } %>
      </div>
   
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/mobile-nav') %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
-->
<!doctype html>
<html>
  <head>
    <title>rebaomi的博客</title>
  </head>
  <body>
    <p>这里是rebaomi的博客，私人领地（没时间写css，纯html+js，有时间再加样式）</p>
    <ul>
      <li>
          <a href="javascript:alert('都说占坑了，还点呢，嘿嘿，马上加~');">我的个人简历（还未加，待定，先占坑）</a>
      </li>
      <li>
          <a href="https://github.com/rebaomi">我的github</a>
      </li>
      <li>
          <a href="http://weibo.com/311525666">我的新浪微博</a>
      </li>
      <li>
          <a href="http://www.eyuanku.com">我参与的一个创业项目</a>
      </li>
      <li>
          <a href="/2014/06/09/waterfall.html">2014-06-09:瀑布流实现的例子</a>
      </li>
    </ul>
    <hr>
    <p>私藏的技术类好网站（还未加，明晚加）</p>
    <ul>
      <li>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
      </li>
    </ul>
  </body>
</html>
   